/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */

 .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	    color: white;
	    background-color: purple;
	  }

.nav-link {
    display: block; 
    color: purple;  
}

.nav-link:focus, .nav-link:hover {
	color: black;
    }

 .nav-tabs {
 	float: right;
 }